/* container principal do cabecalho */
/* tudo que está dentro dessa classe vai obedecer as  regras */

.container-header {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to right, rgb(0,0,0), rgb(131, 128, 128));
}

.logo-principal {
    display: flex;
    align-items: center;
    gap: 10px;
}